.imgD {
    background-color: #f2f2f2;
    display: flex;
    border-radius: 5px;
    border: solid;
    height: 100px;
    text-align: center;
    justify-content: center;
    color: rgb(0, 0, 0);
  }
  
  .underline{
     text-decoration: none;
  }
  
  img {
    height: 350px;
    width: 600px;
    justify-content: center;
 
    
  }
  

  .cardD {
    padding: 20px;
    width: 800px;
    min-height: 800px;
    border-radius: 20px;
    background: #e8e8e8;
    box-shadow: 5px 5px 6px #dadada,
                 -5px -5px 6px #f6f6f6;
    transition: 0.4s;
    margin-top: 5%;
    
  }
  
  .cardD:hover {
    translate: 0 -10px;
  }
  
  .cardD-title {
    font-size: 18px;
    font-weight: 600;
    color: #2e54a7;
    margin: 15px 0 0 10px;
  }
  
  .cardD-image {
    min-height: 400px;
    width: 600px;
    background-color: #c9c9c9;
    border-radius: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    box-shadow: inset 8px 8px 10px #c3c3c3,
              inset -8px -8px 10px #cfcfcf;


              margin-left: 100px;
              
  }
  
  .cardD-body {
    margin: 13px 0 0 10px;
    color: rgb(31, 31, 31);
    font-size: 15px;
  }
  
  
  .by-nameD {
    font-weight: 700;
  }
  a:link,
a:visited,
a:active {
  text-decoration: none;
}

.allCard{
    display: flex;
    text-align: center;
    justify-content: center;
}